body {
  margin: 0;
}
.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 12;
  grid-template-rows: 20% 60% 20%;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item1 {
  grid-column: span 12;
  background-color: pink;
  color: white;
  text-transform: uppercase;
}

.item2 {
  grid-column: span 4;

  background-color: blueviolet;
  color: white;
  text-transform: uppercase;
}
.item3 {
  grid-column: span 8;

  background-color: red;
  color: white;
  text-transform: uppercase;
}

.item4 {
  grid-column: span 12;
  background-color: lightblue;
  color: white;
  text-transform: uppercase;
}
