:root {
  --padding-20px: 20px;
  --headers-color: grey;
  --global-margin: 0;
  --highlight-color: green;
}

body {
  margin: var(--global-margin);
}

header {
  background-color: #eaeaea;
  padding: var(--padding-20px);
}

main {
  padding: var(--padding-20px);
}

p {
  width: 50%;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.title {
  color: var(--headers-color);
  margin: var(--global-margin);
}

.subtitle {
  color: var(--headers-color);
  margin: var(--global-margin);
}

.menu li {
  display: inline;
}

.menu a {
  color: var(--highlight-color);
  text-decoration: none;
}

p a {
  color: var(--highlight-color);
}
